*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff; }

.wrapper {
  position: relative;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff; }

.wrapper {
  position: relative;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

.btn {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 2.1rem;
  min-height: 18vh;
  min-width: 20vw;
  max-width: 25vw;
  background: linear-gradient(to right, #168acb, #006aa9);
  color: #fafafa;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 5px 10px 8px #acaaaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  margin: 2rem; }
  .btn:hover {
    background: #006aa9;
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 106, 169, 0.2);
    transition: transform 0.3s;
    box-shadow: 5px 10px 8px #acaaaa; }
  .btn:active {
    transform: translateY(5px);
    box-shadow: 0 1rem 2rem rgba(0, 106, 169, 0.2);
    box-shadow: 5px 10px 8px #acaaaa; }

.header {
  display: flex;
  top: 0;
  position: relative;
  background-image: linear-gradient(to right, #168acb, #006aa9);
  z-index: 1; }
  .header:before {
    content: '';
    background-image: url(../../img/bottom-left-blue-cloud.png);
    background-size: contain;
    width: 530px;
    height: 229px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 30%; }
  .header:after {
    content: '';
    background-image: url(../../img/top-left-clouds.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 465px;
    min-height: 290px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 30%; }

.header__email {
  display: inline;
  white-space: nowrap; }

.header__container {
  margin: 4rem;
  margin-top: 3.4rem;
  padding-right: 10rem; }

.header__title {
  font-weight: 600;
  font-size: 4.2rem;
  margin-bottom: 1rem; }

.header__content {
  font-size: 2.2rem;
  font-weight: 400; }

.header__email-link {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none; }

.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px; }

.buttons__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem; }

#button__wrapper-1:before {
  content: '';
  background-image: url(../../img/line-left-big.png);
  background-size: 60%;
  background-repeat: no-repeat;
  display: block;
  width: 70%;
  height: 70%;
  position: absolute;
  left: 10%;
  bottom: -10%;
  z-index: -2; }

#button__wrapper-2:before {
  content: '';
  background-image: url(../../img/line-right.png);
  background-size: 60%;
  background-repeat: no-repeat;
  display: block;
  width: 70%;
  height: 70%;
  position: absolute;
  right: -20%;
  bottom: -7%;
  z-index: -2; }

#button__wrapper-3:before {
  content: '';
  background-image: url(../../img/line-left-small.png);
  background-size: 40%;
  background-repeat: no-repeat;
  display: block;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 50%;
  z-index: -2; }

.content__image-wrapper {
  position: relative; }

.content__image {
  max-width: 600px;
  z-index: 5; }

@media (min-width: 1601px) {
  html {
    font-size: 16px; }
  #button__wrapper-1:before {
    background-size: 60%;
    width: 60%;
    max-width: 940px;
    height: 60%;
    max-height: 743px;
    left: 10%;
    bottom: 5%; }
  #button__wrapper-2:before {
    background-size: 60%;
    width: 60%;
    max-width: 940px;
    height: 60%;
    max-height: 743px;
    right: -10%;
    bottom: 5%; }
  #button__wrapper-3 {
    width: auto; }
    #button__wrapper-3:before {
      content: '';
      background-size: 40%;
      background-repeat: no-repeat;
      width: 30%;
      max-width: 470px;
      height: 30%;
      max-height: 370px;
      top: 48%;
      left: 30%; } }

@media (max-width: 1600px) {
  html {
    font-size: 12px; }
  #button__wrapper-1:before {
    background-size: 50%;
    width: 60%;
    max-width: 940px;
    height: 60%;
    max-height: 743px;
    left: 10%;
    bottom: 5%; }
  #button__wrapper-2:before {
    background-size: 50%;
    width: 60%;
    max-width: 940px;
    height: 60%;
    max-height: 743px;
    right: -20%;
    bottom: 5%; }
  #button__wrapper-3 {
    width: auto; }
    #button__wrapper-3:before {
      content: '';
      background-size: 35%;
      background-repeat: no-repeat;
      width: 30%;
      max-width: 470px;
      height: 30%;
      max-height: 370px;
      top: 40%;
      left: 35%; } }

@media (max-width: 1366px) {
  html {
    font-size: 10px; }
  .header__container {
    margin: 4rem 8rem;
    padding-right: 10rem; }
  .btn {
    font-size: 2.1rem; }
  #button__wrapper-1:before {
    background-size: 50%;
    width: 70%;
    height: 70%;
    left: 10%;
    bottom: -10%; }
  #button__wrapper-2:before {
    background-size: 50%;
    width: 70%;
    height: 70%;
    right: -25%;
    bottom: -10%; }
  #button__wrapper-3:before {
    background-size: 40%;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%; } }

@media (max-width: 1280px) {
  html {
    font-size: 10px; }
  .header__container {
    margin: 4rem;
    margin-top: 3.4rem;
    padding-right: 10rem; }
  #button__wrapper-1:before {
    background-size: 40%;
    width: 70%;
    height: 70%;
    left: 10%;
    bottom: 0%; }
  #button__wrapper-2:before {
    background-size: 40%;
    width: 70%;
    height: 70%;
    right: -30%;
    bottom: -5%; }
  #button__wrapper-3:before {
    background-size: 30%;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%; } }

@media (max-width: 768px) {
  html {
    font-size: 8px; }
  .header__container {
    margin: 3rem 6rem 4rem; } }

@media (max-width: 570px) {
  html {
    font-size: 10px; }
  .header {
    text-align: center; }
    .header:before {
      background-image: none; }
    .header:after {
      background-image: none; }
  .header__container {
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0; }
  .header__title {
    font-size: 3.1rem;
    margin-bottom: 0.5rem; }
  .header__content {
    font-size: 1.8rem;
    font-weight: 400; }
  .content__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0; }
  .buttons__wrapper {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0; }
  .btn {
    min-width: 95vw;
    min-height: 10vh;
    padding: 0.1rem;
    margin: 0.5rem; }
  #button__wrapper-1:before {
    content: none; }
  #button__wrapper-2:before {
    content: none; }
  #button__wrapper-3:before {
    content: none; }
  .content__image {
    max-width: 300px; } }
