.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content_btn--1 {
  margin-right: 50px;
}

.content_btn--3 {
  margin-top: 30px;
}