.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.buttons__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

#button__wrapper-1 {
  &:before {
    content: '';
    background-image: url(../../img/line-left-big.png);
    background-size: 60%;
    background-repeat: no-repeat;
    display: block;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 10%;
    bottom: -10%;
    z-index: -2;
  }
}

#button__wrapper-2 {
  &:before {
    content: '';
    background-image: url(../../img/line-right.png);
    background-size: 60%;
    background-repeat: no-repeat;
    display: block;
    width: 70%;
    height: 70%;
    position: absolute;
    right: -20%;
    bottom: -7%;
    z-index: -2;
  }
}

#button__wrapper-3 {
  &:before {
    content: '';
    background-image: url(../../img/line-left-small.png);
    background-size: 40%;
    background-repeat: no-repeat;
    display: block;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50%;
    z-index: -2;
  }
}

.content__image-wrapper {
  position: relative;
}

.content__image {
  max-width: 600px;
  z-index: 5;
}
