@media (min-width: 769px) {
  .btn {
  &:hover {
    background: $color-primary;
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);
    transition: transform 0.3s;
    box-shadow: 5px 10px 8px $color-gray;
  }

  &:active {
    transform: translateY(5px);
    box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);
    box-shadow: 5px 10px 8px $color-gray;
  }
}
}