@media (min-width: 1601px) {
  html {
    font-size: 16px;
  }

  #button__wrapper-1 {
    &:before {
      background-size: 60%;
      width: 60%;
      max-width: 940px;
      height: 60%;
      max-height: 743px;
      left: 10%;
      bottom: 5%;
    }
  }

  #button__wrapper-2 {
    &:before {
      background-size: 60%;
      width: 60%;
      max-width: 940px;
      height: 60%;
      max-height: 743px;
      right: -10%;
      bottom: 5%;
    }
  }

  #button__wrapper-3 {
    width: auto;
    &:before {
      content: '';
      background-size: 40%;
      background-repeat: no-repeat;
      width: 30%;
      max-width: 470px;
      height: 30%;
      max-height: 370px;
      top:48%;
      left: 30%;
    }
  }
}
