.header {
  display: flex;
  top: 0;
  position: relative;
  background-image: linear-gradient(to right, #168acb, #006aa9);

  &:before {
    content: '';
    background-image: url(../../img/bottom-left-blue-cloud.png);
    background-size: contain;
    width: 530px;
    height: 229px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 30%;
  }

  &:after {
    content: '';
    background-image: url(../../img/top-left-clouds.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 465px;
    min-height: 290px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
    opacity: 30%;
  }
}

.header__email {
  display: inline;
  white-space: nowrap;
}

.header__container {
  margin: 60px;
  padding-right: 80px;
  z-index: 10;
  margin-bottom: 80px;
}

.header__title {
  font-weight: 600;
  font-size: 3.4rem;
  margin-bottom: 1rem;
}

.header__content {
  font-size: 1.7rem;
  font-weight: 400;
}

.header__email-link {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
