@media (max-width: 1366px) {
  html {
    font-size: 10px;
  }

  .header__container {
    margin: 4rem 8rem;
    padding-right: 10rem;
  }

  .content__image {
    max-width: 500px;
    margin-top: 50px;
  }

  .btn {
    font-size: 2.1rem;
  }

  #button__wrapper-1 {
    &:before {
      background-size: 50%;
      width: 70%;
      height: 70%;
      left: 5%;
      bottom: 10%;
    }
  }

  #button__wrapper-2 {
    &:before {
      background-size: 50%;
      width: 70%;
      height: 70%;
      right: -25%;
      bottom: 3%;
    }
  }

  #button__wrapper-3 {
    &:before {
      background-size: 40%;
      width: 30%;
      height: 30%;
      top: 35%;
      left: 35%;
    }
  }
}
