@media (max-width: 980px) {
  .content {
    padding: 0 10px;
  }

  .content__wrapper {
    flex-direction: column;
  }

  .header {
    margin-bottom: 10px;

    :before {
      background-image: none;
    }

    ::after {
      background-image: none;
    }
  }

  .header__container {
    margin: 30px;
    padding-right: 0px;
    z-index: 10;
    text-align: center;
  }

  .header__title {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: normal;
  }

  .header__content {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .buttons__wrapper {
    margin-top: 10px;
  }

  .btn {
    min-width: 95vw;
    height: auto;
    margin-bottom: 10px;
  }

  #button__wrapper-1 {
    &:before {
      content: none;
    }
  }

  #button__wrapper-2 {
    &:before {
      content: none;
    }
  }

  #button__wrapper-3 {
    &:before {
      content: none;
    }
  }

  //   .content__btn--1 {
  //     margin: 0;
  //   }

  //   .content__btn--2 {
  //     margin: 0;
  //   }

  //   .content__btn--3 {
  //     margin: 0;
  //   }

  .content__image {
    max-width: 600px;
  }
}
