@media (max-width: 570px) {
  html {
    font-size: 10px;
  }

  .header {
    text-align: center;

    &:before {
      background-image: none;
    }

    &:after {
      background-image: none;
    }
  }

  .header__container {
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
  }

  .header__title {
    font-size: 3.1rem;
    margin-bottom: 0.5rem;
  }

  .header__content {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .content__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
  }

  .buttons__wrapper {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
  }

  .btn {
    min-width: 95vw;
    min-height: 10vh;
    padding: 0.1rem;
    margin: 0.5rem;
  }

  #button__wrapper-1 {
    &:before {
      content: none;
    }
  }

  #button__wrapper-2 {
    &:before {
      content: none;
    }
  }

  #button__wrapper-3 {
    &:before {
      content: none;
    }
  }

  .content__image {
    max-width: 300px;
  }
}
