@media (max-width: 1280px) {
  html {
    font-size: 10px;
  }

  .header__container {
    margin: 4rem;
    margin-top: 3.4rem;
    padding-right: 10rem;
  }
  
  .btn {
    min-height: 24vh;
  }

  #button__wrapper-1 {
    &:before {
      background-size: 40%;
      width: 70%;
      height: 70%;
      left: 10%;
      bottom: 0%;
    }
  }

  #button__wrapper-2 {
    &:before {
      background-size: 40%;
      width: 70%;
      height: 70%;
      right: -30%;
      bottom: 0%;
    }
  }

  #button__wrapper-3 {
    &:before {
      background-size: 30%;
      width: 30%;
      height: 30%;
      top: 35%;
      left: 35%;
    }
  }
}
