.btn {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 30px;
  min-height: 155px;
  max-width: 420px;
  width: 45vw;
  background: linear-gradient(to right, $color-secondary, $color-primary);
  color: $color-white;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 5px 10px 8px $color-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  margin: 25px;

  &:hover {
    background: $color-primary;
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);
    transition: transform 0.3s;
    box-shadow: 5px 10px 8px $color-gray;
  }

  &:active {
    transform: translateY(5px);
    box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);
    box-shadow: 5px 10px 8px $color-gray;
  }
}
