*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 18px;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: 570px) {
    padding: 0 10px;
  }
}
